<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <!-- <h2>Подсчет по количесву точек</h2>
        <p>Аптеки:</p>
        <input type="number" name="Количество аптек:" id="" v-model="newRoute.pharmacies"><br>
        <p>Физики:</p>
        <input type="number" name="Количество физиков:" id="" v-model="newRoute.persons">
        <br><br>
        <button @click="addRoute()">Посчитать</button>
        <button @click="clearAll()">Очистить все</button>
        <br>
        <div class="routes" v-for="{ id, pharmacies, persons } in routes" :key="id">
            <p>Количество аптек: {{ pharmacies }} Сумма по аптекам: {{ calculatePharmaciesSum(pharmacies) }}</p>
            <p>Количество физиков: {{ persons }} Сумма по физикам: {{ calculatePersonsSum(persons) }}</p>
            <p>Общее количество: {{ Number(pharmacies) + Number(persons) }} Общая сумма: {{ calculatePharmaciesSum(pharmacies) + calculatePersonsSum(persons) }}</p>
        </div>
        <br>
        <h2>Подсчет по реестру</h2>
        <input type="text" name="аптеки" id="" v-model.trim="strPharmacies">
        <button @click="countPharmacies">Отправить</button>
        <button @click="clearPharmacies">Очистить</button>
        <p>Количество аптек: {{ totalPharmacies }} Сумма: {{ totalPharmacies * onePharmacyPrice }}</p>

        <input type="text" name="физики" id="" v-model.trim="strPersons">
        <button @click="countPersons">Отправить</button>
        <button @click="clearPersons">Очистить</button>
        <p>Количество физиков: {{ totalPersons }} Сумма: {{ totalPersons * onePersonPrice }}</p> -->

        <!-- <div class="center">
            
        </div> -->
        <div class="calculator">
            <h2 class="calculator__main-heading">Калькулятор реестров маршрутных листов</h2>
            <input class="calculator__input" type="text" name="calculator" id="" v-model.trim.number="num" ref="input" @blur="preventBlur">
            <div class="calculator__button-block">
                <button class="calculator__button" @click="button1">+АПТЕКА</button>
                <button class="calculator__button" @click="button2">+ФИЗИК</button>
            </div>
            <div class="calculator__input-data">
                <div class="calculator__left">
                    <h4 class="calculator__heading">Аптеки</h4>
                    <!-- <div class="counter-pharmacies" v-for="(pharmacy, index) in pharmacies" :key="pharmacy.index">
                        
                    </div> -->
                    {{ pharmacies }}
                    <div class="calculator__buttons">
                        <button class="calculator__button-l" @click="calcPharmacies">Посчитать</button>
                        <button class="calculator__button-r" @click="clearPharmacies">Очистить</button>
                    </div>
                    <div class="calculator__total-text">
                        <p>Количество аптек: {{ totalPharmacies }}</p>
                        <p>Сумма по аптекам: {{ totalPharmacies * onePharmacyPrice }} руб.</p>
                    </div>
                </div>
                <div class="calculator__right">
                    <h4 class="calculator__heading">Физики</h4>
                    <!-- <div class="counter-persons" v-for="(person, index) in persons" :key="person.index">
                        
                    </div> -->
                    {{ persons }}
                    <div class="calculator__buttons">
                        <button class="calculator__button-l" @click="calcPersons">Посчитать</button>
                        <button class="calculator__button-r" @click="clearPersons">Очистить</button>
                    </div>
                    <div class="calculator__total-text">
                        <p>Количество физиков: {{ totalPersons }}</p>
                        <p>Сумма по физикам: {{ totalPersons * onePersonPrice }} руб.</p>
                    </div>
                </div>
            </div>
            <!-- <button class="calculator__button-all" @click="calcAll">ПОСЧИТАТЬ ВСЕ</button> -->
            <h3 class="calculator__total">ОБЩАЯ СУММА: {{ (totalPharmacies * onePharmacyPrice) + (totalPersons * onePersonPrice) }} руб.</h3>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                num: '',
                strPharmacies: '',
                strPersons: '',
                totalPharmacies: 0,
                totalPersons: 0,
                pharmacies: [],
                persons: [],
                newRoute: {
                    id: 0,
                    pharmacies: 0,
                    persons: 0
                },
                routes: [

                ],
                pharmaciesMin:  1500,
                personsMin: 2700,
                onePharmacyPrice: 300,
                onePersonPrice: 270
            },
            methods: {
                addRoute() {
                    this.newRoute.id = Date.now();
                    this.routes.push(
                        {
                            ...this.newRoute
                        }
                    );
                    this.newRoute = {
                        id: 0,
                        pharmacies: 0,
                        persons: 0
                    };
                },
                calculatePharmaciesSum(pharmacies) {
                    if(pharmacies < 5) {  
                        return this.pharmaciesMin;
                    } else if(pharmacies == 0) {
                       return 0;
                    } else {
                        return pharmacies * this.onePharmacyPrice;
                    }
                },
                calculatePersonsSum(persons) {
                    if(persons < 10) {
                        return this.personsMin
                    } else if(persons === 0) {
                       return 0;
                    } else {
                        return persons * this.onePersonPrice;
                    }
                },
                countPharmacies() {
                    this.pharmacies = this.strPharmacies.split(' ');
                    console.log(this.pharmacies);
                    this.pharmacies.forEach(el => {
                        if(Number(el) < 5 && Number(el) > 0) {
                            this.totalPharmacies += 5;
                        } else if (Number(el) < 1) {
                            this.totalPharmacies += 0;
                        } else {
                            this.totalPharmacies += Number(el);
                        }
                    });
                },
                countPersons() {
                    this.persons = this.strPersons.split(' ');
                    console.log(this.persons);
                    this.persons.forEach(el => {
                        if(Number(el) < 10 && Number(el) > 0) {
                            this.totalPersons += 10;
                        } else if (Number(el) < 1) {
                            this.totalPersons += 0;
                        } else {
                            this.totalPersons += Number(el);
                        }
                    });
                },
                calcPharmacies() {
                    this.pharmacies.forEach(ph => {
                        if(Number(ph) < 5 && Number(ph) > 0) {
                            this.totalPharmacies += 5;
                        } else if (Number(ph) < 1) {
                            this.totalPharmacies += 0;
                        } else {
                            this.totalPharmacies += Number(ph);
                        }
                    });
                },
                calcPersons() {
                    this.persons.forEach(pr => {
                        if(Number(pr) < 10 && Number(pr) > 0) {
                            this.totalPersons += 10;
                        } else if (Number(pr) < 1) {
                            this.totalPersons += 0;
                        } else {
                            this.totalPersons += Number(pr);
                        }
                    });
                },
                calcAll() {
                    calcPharmacies();
                    calcPersons();
                },
                clearAll() {
                    this.routes = [];
                },
                clearPharmacies() {
                    this.totalPharmacies = 0;
                    this.strPharmacies = '';
                },
                clearPersons() {
                    this.totalPersons = 0;
                    this.strPersons = '';
                },
                addPharmacy() {
                    this.pharmacies.push(Number(this.num));
                    this.num = '';
                    console.log(this.num);
                    console.log(this.pharmacies);
                },
                addPerson() {
                    this.persons.push(Number(this.num));
                    this.num = '';
                    console.log(this.num);
                    console.log(this.persons);
                },
                button1() {
                    this.pharmacies.push(Number(this.num));
                    this.num = '';
                    console.log(this.num);
                    console.log(this.pharmacies);
                },
                button2() {
                    this.persons.push(Number(this.num));
                    this.num = '';
                    console.log(this.num);
                    console.log(this.persons);
                },
                preventBlur(event) {
                    this.$nextTick(() => {
                        this.$refs.input.focus();
                    });
                },

            },
            mounted() {
                window.addEventListener("keydown", (event) => {
                    if (event.key === "ArrowUp") {
                        this.button1();
                    } else if (event.key === "ArrowDown") {
                        this.button2();
                    }
                });
            },    
        })
    </script>

</body>
</html>